! Color-scheme : Relic Dark
! Author       : stark <stark@openmailbox.org>

*background: #1D2426
urxvt*background: #1D2426
*foreground: #8FA388
urxvt*foreground: #8FA388

! Alternate foreground
!*foreground: #AB9C71

*cursorColor: #BE5E1E

*color0:  #39474A
*color1:  #986345
*color2:  #788249
*color3:  #9B6A46
*color4:  #3E5951
*color5:  #B9924A
*color6:  #5d796a
*color7:  #977D5E
*color8:  #4C5F63
*color9:  #B07350
*color10: #869151
*color11: #AF6B42
*color12: #567A6E
*color13: #D69D55
*color14: #668574
*color15: #AB9C71

! vim: ft=xdefaults

URxvt*termName: screen-256color
URxvt*geometry: 240x84
URxvt*loginShell: true
URxvt*scrollColor: #777777
URxvt*scrollstyle: plain
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true
URxvt*skipScroll: true
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*fading: 30
URxvt*utmpInhibit: false
URxvt*urgentOnBell: false
URxvt*visualBell: true
URxvt*mapAlert: true
URxvt*mouseWheelScrollPage: false
URxvt*background: Black
URxvt*foreground: White
URxvt*colorUL: yellow
URxvt*underlineColor: yellow
!URxvt*font: -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:pixelsize:12
!URxvt*boldFont: -xos4-terminus-bold-*-*-*-14-*-*-*-*-*-iso8859-15,xft:terminus:bold:pixelsize:12
!URxvt*italicFont: xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
!URxvt*boldItalicFont: xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12
URxvt*saveLines: 0
URxvt*buffered: true
URxvt*hold: false
URxvt*internalBorder:
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
URxvt*perl-ext-common:
URxvt*perl-ext: